main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}
button {
  font-size: 18em;
}

.post p {
    white-space: pre-wrap;
}
.displayFlex {
  display: flex;
}
.row {
  direction: row;
}
.col {
  direction: column;
}

.alignCenter {
  align-items: center;
}
.textAlign {
  text-align: center;
}
.profilePicture {
  width: 10rem;
}
.ticketBadge {
  border: solid 1px #BCBCBC;
  width: fit-content;
}
.ticketCol {
  margin: 2rem;
  width: fit-content;
}
.open{
  background: #BAFFC5;
  border-radius: 8rem;
  padding: 1rem;
  
}
.claimed{
  background: #FFCF54;
  padding: 1rem;
  border-radius: 8rem;
}
.issue{
  background: #FF7E7E;
  padding: 1rem;
  border-radius: 8rem;
  color:ivory
}
.waiting{
  background: #84E1FF;
  padding: 1rem;
  border-radius: 8rem;
}
.closed{
  background: #817EFF;
  border-radius: 8rem;
  padding: 1rem;
  color:ivory
}
.border {
  border: 1px solid red;
}

.justifyCenter {
  justify-content: center;
}
